.body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navbar{
    height: 60px;
}
.navbar-brand{
    margin-left: 100px;
    font-weight: 700;
    font-size: 20px;
}
.nav-item-option3{
    margin-right: 100px;
}
.nav-item-current, .nav-item-option1, .nav-item-option2{
    margin-right: 30px;
}
.nav-link-home, .nav-link-explore, .nav-link-vacations, .nav-link-blog, .nav-link-travel {
    color: black;
    text-decoration: none;
    font-weight: 450;
}
.nav-link-home:hover, .nav-link-explore:hover, .nav-link-vacations:hover, .nav-link-blog:hover, .nav-link-travel:hover {
    color: black;
    text-decoration: none;
    font-weight: 450;
}
/* .thumbnail{
    width: 100px;
    height: 200px;
} */
/* .container-thumbnails{
    width: auto;
    height: auto;
    margin: auto;
    background-color: #FAF9F7;
    position: relative;
} */
.jumbotron{
    background-color: white;
    width: auto;
    height: 760px;
    margin-left: 80px;
    margin-right: 80px;
}
.container-jumbotron{
    background-image: url(1x/jumbotron4.png);
    margin-top: 70px;
    width: auto;
    height: 560px;
    background-size: cover;
    border-radius: 30px;
}
.container{
    background-color: black;
    width: 1500px;
    height: auto;
}
.bg-white{
    background: transparent !important;
    transition: 0.5s ease;
}
.bg-white.scrolled{
    background: white !important;
}
.title-thumbnail{
    position: absolute;
    top: 32%;
    left: 13%;
    width: 34%;
    font-size: 45px;
    font-weight: 700;
    color: #263238;
}
.subtitle-thumbnail{
    position: absolute;
    top: 50%;
    left: 13%;
    width: 28%;
    font-size: 18px;
    font-weight: 500;
    color: #647277; 
}
.btn-outline-secondary{
    position: absolute;
    top: 61%;
    left: 13%;
    width: 180px;
    height: 45px;
    font-weight: 500;
    color: #263238;
    border-color: #263238;
}
.btn:hover, .btn:focus{
    background-color: #FF725E;
    border-color: #FF725E;
}
.popular-post{
    width: 350px; 
    height: 450px; 
    object-fit: cover;
    position: relative;
}
.post1{
    padding-right: 10px;
}
.col-3{
    margin-right: 40px;
}
.title-post{
    margin-bottom: 70px;
    font-size: 25px;
    font-weight: 600;
}
.hr{
    border-top: 4px solid #535DAE; 
    width: 70px; 
    margin-top: 10px;
}
.hr_about{
    border-top: 4px solid #535DAE; 
    width: 40px; 
    margin-top: 10px;
}
.carousel-indicators{
    left: 0;
    top: auto;
    bottom: -50px;
}
.carousel-indicators li{
    background: #999;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}
.carousel-indicators .active{
    background: #535DAE;
}
.post-title{
    position: absolute; 
    top: 365px; 
    color: white; 
    font-size: 20px; 
    font-weight: 500;
    left: 40px;
}
.post-location{
    position: absolute;
    top: 400px;
    color: white;
    font-size: 14px;
    font-weight: 300;
    left: 40px;
}
.fa-solid{
    font-size: 11px !important;
    margin-right: 8px;
    top: -20px;
}
.container-most-visited{
    width: auto;
    height: 740px;
}
.content-feedback{
    background-image: url(1x/bg_feedback.png);
    width: auto;
    height: 550px;
    background-size: cover;
    border-radius: 20px;
}
/* .modal-content {
    width: auto;
    height: 650px;
}
.modal-body {
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 5%;
    width: 850px;
}
.modal{
    margin-left: -220px;
} */
.modal-content{
    padding: 5%;
}
.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 1.25;
    color: #647277 ;
    font-weight: 400;
    font-size: 15px;
    border-radius: 10px !important;
    background-color: white !important;
    border: 1px solid #a4a4a4 !important;
}
.page-link:hover {
    z-index: 2;
    color: #647277;
    text-decoration: none;
    background-color: #dee2e6 !important;
    border-color: #dee2e6;
}
.page-item.active .page-link {
    z-index: 3;
    color: white;
    background-color: #647277 !important;
    border-color: #647277;
}

